table#selection-state {
    th {
        padding: 0.2em;
        text-align: left;
    }
    td {
        padding: 0.2em;
        text-align: left;

        &.value {
            text-align: center;
        }

        &.active {
            background-color: #fe2e2e;
            color: white;
            border-radius: 0.2em;
        }
    }
}

.tiptap {
    p.is-editor-empty:first-child::before,
    p.is-empty::before {
        color: #6b7280;
        content: attr(data-placeholder);
        float: left;
        height: 0;
        pointer-events: none;
    }
}
